.vscode/**
.vscode-test/**
out/**
native/**
node_modules/**
!node_modules/@vscode/codicons/dist/**
!node_modules/pyodide/**
src/**
resources/icons/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.mypy_cache/**
**/.mypy_cache/**
